{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                Регистрация
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}


                    {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
                {% endif %}


                    <div class="mb-3">
                        <label class="form-label">Имя пользователя</label>
                        {{ form.username }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        {{ form.email }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Пароль</label>
                        {{ form.password1 }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Повторите пароль</label>
                        {{ form.password2 }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Зарегистрироваться
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
